<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.CategoryMapper">
	<!-- 分类管理分页查询 -->
	<select id="pageQuery" resultType="com.sky.entity.Category">
		select * from category
		<where>
			<if test="name != null and name != '' ">
				and name like '%' || #{name} || '%'
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
		</where>
		order by create_time desc
	</select>
	
	<!-- 根据类型查分类 -->
	<select id="list" resultType="com.sky.entity.Category">
	    select * from category
	    <where>
	        <if test="type != null">
	            type = #{type}
	        </if>
	    </where>
	    order by sort
	</select>
	
	<!-- 修改分类 -->
	<update id="updateCategory">
	    update category
	    <set>
	        <if test="name != null and name != '' ">
	            name = #{name},
	        </if>
	        <if test="type != null">
	            type = #{type},
	        </if>
	        <if test="sort != null">
	            sort = #{sort},
	        </if>
	        update_time = #{updateTime},
	        update_user = #{updateUser}
	    </set>
	    where id = #{id}
	</update>
</mapper>